
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" id="header">
  <div class="container-fluid">
      <a class="navbar-brand custom-brand" href="#">Client_v1(Demo)</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active custom-brand" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-brand" href="#" (click)="showDashboardEvent($event)">Admin panel</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link custom-brand" href="#" routerLink="signup">Signup</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link active custom-brand" aria-current="page" routerLink="signup">Signup</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active custom-brand" aria-current="page" routerLink="logout">Logout</a>
          </li>
        </ul>
         <div>
          <img src="../../../assets/image.jpg" alt="fsfsaf" height="55px" width="50px" class="user-img me-2" title="user">
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle rounded-5" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="true">
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" style="translate: -100%;">
            <li><button class="dropdown-item" type="button" routerLink="">User Details</button></li>
            <li><button class="dropdown-item" type="button" routerLink="">Investment Record</button></li>
            <li ><button class="dropdown-item" type="button" routerLink="">Commission Record</button></li>
          </ul>
        </div>
      </div>
     </div>
    </div>
  </nav> 

   <!-- <div class="nav-item me-4 dropdown">
    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
      Admin Activities
    </a>
      <div class="dropdown-menu" style="background: #29549e;">
        <li><a routerLink="website-content" class="dropdown-item">Change Website Content <br> Services and Products</a></li>
        <li><a routerLink="leads" class="dropdown-item">Leads</a></li>
        <li><a routerLink="add-gallery" class="dropdown-item">Add To Gallery</a></li>
        <li><a routerLink="list-gallery" class="dropdown-item">Update Gallery</a></li>
        <li><a routerLink="uploadLogo" class="dropdown-item">Upload Logo</a></li>
        <li><a routerLink="uploadHomePageImg" class="dropdown-item">Upload Home Page Image</a></li>
        <li><a routerLink="selectLogo" class="dropdown-item">Select Logo</a></li>
        <li><a routerLink="selectHomePageImg" class="dropdown-item">Select Home Page Img</a></li>
        <li><a routerLink="change-password" class="dropdown-item">Change Password</a></li>
        <li><a routerLink="uploadReview" class="dropdown-item">Manage Reviews</a></li>
        <li><a routerLink="uploadClient" class="dropdown-item">Manage Clients</a></li>
        <li><a routerLink="uploadFounder" class="dropdown-item">Manage Founders</a></li>
        <li><a routerLink="logOut" class="dropdown-item">Log Out</a></li>
      </div>
  </div> -->
